<div class="user-profile">
    <div class="profile row">
        <div class="col-md-4 avatar">
            <div class="wrapper">
                <img src="https://instuigram-avatar.jpg">
            </div>
        </div>

        <div class="col-md-8 basic-info">
            <div class="user-wrapper">
                <h2 class="username">michaeljhicks</h2>
                <a class="edit-profile">
                    <button>Edit Profile</button>
                </a>
            </div>
            <ul class="posts">
                <li><span>336</span> posts</li>
                <li><span>1009</span> followers</li>
                <li><span>505</span> following</li>
            </ul>
            <h2 class="name">Michael Hicks</h2>
            <a class="website">michaeljhicks.com</a>
        </div>
    </div>
</div>